<div class="container">
    <form [formGroup]="orderForm">
        <div class="orderHeading">
            CREATE PURCHASE ORDER
            <div class="buttonDiv">
                <button mat-raised-button color="warn" (click)="saveForm()">Save</button>
                <button mat-raised-button color="primary" type="submit" (click)="submitForm()" [disabled]="orderForm.invalid">Confirm
                    Order</button>
            </div>
        </div>
        <hr>
        <div class="orderDetails">
            <div class="vendorDiv">
                <label for="">Vendor<span style="color:red"> *</span></label>
                <mat-form-field appearance="fill">
                    <mat-label>Select vendor</mat-label>
                    <mat-select formControlName="vendor">
                        <mat-option value="{{vendor}}"
                            *ngFor="let vendor of formDetails.vendors">{{vendor}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="orderId">
                <label for="">Order Number<span style="color:red"> *</span></label>
                <mat-form-field appearance="fill">
                    <input matInput value="{{formDetails.orderNo}}" disabled>
                </mat-form-field>
            </div>
            <div class="orderDate">
                <label for="">Order Date<span style="color:red"> *</span></label>
                <mat-form-field appearance="fill">
                    <input matInput value="{{formDetails.orderDate|date}}" disabled>
                </mat-form-field>
            </div>
            <div class="inventory">
                <label for="">Inventory Location<span style="color:red"> *</span></label>
                <mat-form-field appearance="fill">
                    <mat-label>Inventory</mat-label>
                    <textarea rows="1" matInput formControlName="inventoryLocation"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="itemHeading">
            ITEM DETAILS
            <hr>
        </div>
        <table class="newTable">
            <div formArrayName="itemDetails">
                <tr>
                    <th>PRODUCT<span style="color:red"> *</span></th>
                    <th>QUANTITY<span style="color:red"> *</span></th>
                    <th>AMOUNT<span style="color:red"> *</span></th>
                    <th>DISCOUNT[%]</th>
                    <th>TAX[5%]</th>
                    <th>TOTAL</th>
                    <th></th>
                </tr>

                <tr *ngFor="let item of item_details.controls; let itemIndex=index" [formGroupName]="itemIndex">
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Select product</mat-label>
                            <mat-select formControlName="productName">
                                <mat-option value="{{product}}"
                                    *ngFor="let product of formDetails.products">{{product}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>

                        <mat-form-field appearance="fill">
                            <mat-label>Enter quantity</mat-label>
                            <input matInput formControlName="quantity">
                        </mat-form-field>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter amount</mat-label>
                            <input matInput formControlName="amount">
                        </mat-form-field>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter discount</mat-label>
                            <input matInput formControlName="discount">
                        </mat-form-field>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Tax</mat-label>
                            <input matInput disabled
                                value="{{item_details.controls[itemIndex].value.quantity*item_details.controls[itemIndex].value.amount*0.05 | number : '1.2-2'}}">
                        </mat-form-field>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Total</mat-label>
                            <input matInput disabled
                                value="{{item_details.controls[itemIndex].value.quantity*item_details.controls[itemIndex].value.amount*(1-(0.01*item_details.controls[itemIndex].value.discount))*1.05 | number : '1.2-2'}}">
                        </mat-form-field>
                    </td>
                    <td>
                        <button mat-mini-fab color="warn" type="button"
                            (click)="deleteSellingPoint(itemIndex)"><mat-icon fontIcon="delete"></mat-icon></button>
                    </td>
                </tr>
                <button id="addButton" mat-mini-fab color="primary" type="button" (click)="addSellingPoint()"><mat-icon
                        fontIcon="add"></mat-icon></button>
            </div>
        </table>

    </form>
</div>